@using HairSalon.Models;
@model Stylist
@{
  Layout = "_Layout";
}
<h1>Add A Client</h1>
<form id="newClient" action='/stylist/@Model["stylist"].Id/client/new' method="post">

  <label for="name">Enter Name</label>
  <input type="text" name="name" id="name">
  <input type="text" name="stylist-Id" value=Model["stylist"].Id readonly>
  <button class="button" type="submit" name="button">Add</button>
</form>
