@{
  Layout = "_Layout";
}
<h1>Add A Client to Stylist ID: @Model.GetId(), @Model.GetName()</h1>
<form id="newClient" action='/stylist/@Model.GetId()/client' method="post">

  <label for="name">Enter Name</label>
  <input type="text" name="name" id="name">
  <button class="button" type="submit" name="button">Add</button>
</form>
<a href="/">Back Home</a><br>
