@{
  Layout = "_Layout";
}

<h1>Clients for Stylist: @Model["stylist"].GetName()</h1>
<div class="stylistDetails">
    <ul>
@if(Model["clients"].Count == 0)
{
  <h3>There are no clients for this Stylist yet.</h3>
}
else
{
  @foreach(var client in Model["clients"])
  {
    <li class="stylistsOut">@client.GetName()<a href='/stylist/@Model["stylist"].GetId()/client/@client.GetId()/update'>&nbsp;&nbsp;&nbsp;[Update]</a><a href="/stylist/@Model["stylist"].GetId()/client/@client.GetId()/delete">&nbsp;[Delete this Client]</a></li>

  }
}
    </ul>
    <a href="/">Back Home</a><br><a href="/stylist/@Model["stylist"].GetId()/client/new">Add a Client<a><br>
</div>
