@{
  Layout = "_Layout";
}

<h1>Add A Stylist</h1>
<form action="/stylist/new" method="post">
  <label for="stylistName">Enter Name</label>
  <input type="text" name="stylistName" id="stylistName">
  <button class="button" type="submit" name="button">Add</button>
</form>
